@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Minesweeper</h1>
        <p class="lead">Welcome to Minesweeper. To start a new game, press any of the links below.</p>
        @Html.ActionLink("New Easy Game", "NewEasy", "Game") |
        @Html.ActionLink("New Medium Game", "NewMedium", "Game") |
        @Html.ActionLink("New Hard Game", "NewHard", "Game") |
        @Html.ActionLink("New Expert Game", "NewExpert", "Game") |
        @Html.ActionLink("New Custom Game", "Custom", "Game")
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>More about the creator</h2>
        <p>
            JD Kaim is a very cool guy who made this game with his brother, Thomas Kaim. Thomas Kaim is also very cool.
        </p>
        <p><a class="btn btn-default" href="https://www.jdkaim.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See more games</h2>
        <p>More games are coming soon. Please wait for the games to come out to the website.</p>
        <p><a class="btn btn-default" href="https://www.jdkaim.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Leaderboards</h2>
        <p>@Html.ActionLink("Easy Leaderboard", "Leaderboard", new { rows = 8, columns = 8, mines = 6 })</p>
        <p>@Html.ActionLink("Medium Leaderboard", "Leaderboard", new { rows = 10, columns = 10, mines = 10 })</p>
        <p>@Html.ActionLink("Hard Leaderboard", "Leaderboard", new { rows = 15, columns = 15, mines = 30 })</p>
    </div>
</div>
