@using Minesweeper.Web.Models
@{
    ViewBag.Title = "Leaderboard";
}

@model LeaderboardViewModel

<h2>@ViewBag.Title.</h2>
<h3>@($"{Model.Rows} rows, {Model.Columns} columns, {Model.Mines} mines")</h3>
<div>
    @Html.ActionLink("All Time", "Leaderboard", new { rows = Model.Rows, columns = Model.Columns, mines = Model.Mines }) |
    @Html.ActionLink("1 Week", "Leaderboard", new { rows = Model.Rows, columns = Model.Columns, mines = Model.Mines, hours = 168 }) |
    @Html.ActionLink("1 Day", "Leaderboard", new { rows = Model.Rows, columns = Model.Columns, mines = Model.Mines, hours = 24 }) |
    @Html.ActionLink("1 Hour", "Leaderboard", new { rows = Model.Rows, columns = Model.Columns, mines = Model.Mines, hours = 1 })
</div>


<table class="table">
    <thead>
        <tr>
            <th>User</th>
            <th>Elapsed</th>
            <th>Moves</th>
            <th>Played</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model.CompletedGames)
        {
            <tr>
                <td>@game.User.UserName</td>
                <td>@((game.Elapsed / 1000).ToString("0.00"))</td>
                <td>@game.Moves</td>
                <td>
                    @{
                        TimeSpan timeSpan = DateTime.UtcNow - game.Created;
                        if (timeSpan.TotalDays > 7)
                        {
                            <span>@game.Created.ToShortDateString()</span>
                        }
                        else if (timeSpan.TotalDays > 1)
                        {
                            <span>@(Math.Round(timeSpan.TotalDays)) days ago</span>
                        }
                        else if (timeSpan.TotalHours > 1)
                        {
                            <span>@(Math.Round(timeSpan.TotalHours)) hours ago</span>
                        }
                        else if (timeSpan.TotalMinutes > 1)
                        {
                            <span>@(Math.Round(timeSpan.TotalMinutes)) minutes ago</span>
                        }
                        else
                        { <span>Just now</span>}
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
