@using Minesweeper.Common;

@model Game

@{
    ViewBag.Title = $"Minesweeper: {(Model.Board.Rows > 10 ? "Hard" : (Model.Board.Rows < 10) ? "Easy" : "Medium")}";
}

<h2>@ViewBag.Title.</h2>
<h3>
    @if (Model.IsWon)
    {
        <span>You won!</span>
    }
    else if (Model.IsLost)
    {
        <span class="text-danger">You lost!</span>
    }
    else
    {
        <span>@Model.FlagsLeft flags left.</span>
    }
</h3>

@for (int row = 0; row < Model.Board.Rows; row++)
{
    <div>
        @for (int column = 0; column < Model.Board.Columns; column++)
        {
            <div class="text-center cell">
                @{
                    Cell cell = Model.Board.GetAt(row, column);

                    switch (cell.State)
                    {
                        case CellState.Pristine:
                            <a href="@Url.Action("Mark", new { row = row, column = column })">
                                <i class="glyphicon glyphicon-screenshot"></i>
                            </a>
                            <a href="@Url.Action("Flag", new { row = row, column = column })">
                                <i class="glyphicon glyphicon-flag small"></i>
                            </a>
                            break;
                        case CellState.Flagged:
                            <a href="@Url.Action("Clear", new { row = row, column = column })">
                                <i class="glyphicon glyphicon-flag text-danger"></i>
                            </a>
                            break;
                        case CellState.Revealed:
                            if (cell.IsMine)
                            {
                                <i class="glyphicon glyphicon-certificate text-danger"></i>
                            }
                            else if (cell.SurroundingMines > 0)
                            {
                                @cell.SurroundingMines
                            }
                            else
                            {
                                <span>&nbsp;</span>
                            }
                            break;
                    }
                }
            </div>
        }
    </div>
}
